@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?hm4g32');
    src: url('../fonts/icomoon.eot?hm4g32#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?hm4g32') format('truetype'),
        url('../fonts/icomoon.woff?hm4g32') format('woff'),
        url('../fonts/icomoon.svg?hm4g32#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'icomoon';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #e33333;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

input,
button {
    outline: none;
    vertical-align: bottom;
    border: 0;
}

em,
i {
    font-style: normal;
}