/* 版心设置 */
.center {
    width: 1200px;
    margin: 0px auto;
}

/* 快捷导航设置 */
.short_nav ul>li {
    float: left;
    line-height: 31px;
}

.short_nav ul>li>a {
    display: inline-block;
    line-height: 31px;
}

.red_font {
    color: #cb1623;
}

.white_font {
    color: #fff;
}

footer[class=footer_bg] {
    height: 415px;
    background-color: #f5f5f5;
}

footer[class=footer_bg]>.footer {
    height: 100%;
    /* background-color: antiquewhite; */
    padding-top: 30px;

}

.footer>div[class=fh] {
    width: 100%;
    height: 80px;
    /* line-height: 80px; */
    /* background-color: aqua; */
    border-bottom: 2px solid #ccc;
}

div[class=fh]>ul {
    width: 100%;
    height: 100%;
}

div[class=fh]>ul li {
    float: left;
    height: 50px;
    width: 20%;
    padding-left: 35px;
    /* background-color: pink; */
}

div[class=fh]>ul li::before {
    content: "";
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -3px;
    margin-right: 8px;
}

div[class=fh] div[class=content_box] {
    width: 100%;
    height: 100%;
    /* line-height: 25px; */
    padding-top: 6px;
}

div[class=fh] div[class=content_box]>h1 {
    font-size: 14px;
    font-weight: 600;
}

div[class=fh] div[class=content_box]>p {
    font-size: 12px;
}

/* 底部身体 */

.footer>div[class=fb] {
    width: 100%;
    height: 185px;
    /* background-color: bisque; */
    border-bottom: 2px solid #ccc;
    padding-left: 50px
}

.footer>div[class=fb]>dl {
    float: left;
    margin-top: 20px;
    width: calc((100% - 120px) / 5);

}

.footer>div[class=fb]>dl:nth-last-of-type(1) {
    width: 90px;
    text-align: center;
}

div[class=fb]>dl>dt {
    font-size: 16px;
    margin-bottom: 10px;
}

div[class=fb]>dl>dd {
    font-size: 14px;
}

/* 最底部 */
.footer>div[class=copyright_box] {
    height: calc(100% - 265px);
    /* background-color: antiquewhite; */
    padding-top: 20px;
}

div[class=copyright_box]>div[class=link] {
    width: 100%;
    height: 1em;
    margin-bottom: 20px;
}

div[class=link] ul {
    margin-left: 15px;
}

div[class=link] li {
    float: left;

}

div[class=link] a {
    display: block;
    height: 1em;
    line-height: 1em;
}

div[class=link] li:nth-of-type(2n) {
    height: 1em;
    width: 1px;
    border: 1px solid black;
    margin: 0 12px;
}

div[class=copyright_box]>div[class=copyright] {
    text-align: center;
}

/* 楼层通用 */
.floor_210 {
    width: 210px;

}

.floor_329 {
    width: 329px;
}

.floor_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.floor_219 {
    width: 219px;
}

.floorw_up img {
    width: 100%;
    height: 50%;
}

.floorw_up a:nth-of-type(1) img {
    border-bottom: 1px solid #ccc;
}

.floorw_all img {
    width: 100%;
    height: 100%;
}