.floor>.floor_box {
    /* height: 30px; */
    width: 100%;
    margin-top: 30px;
    /* background-color: pink; */

}

.floor_box>.fhd {
    height: 30px;
    width: 100%;
    /* line-height: 30px; */
    border-bottom: 2px solid #c81623;
}

.floor_box>.fhd>h4 {
    float: left;
    font-weight: 400;

    color: #c81623;
    font-size: 18px;
}

.fhd>.tab_list>ul {
    float: right;
    padding-top: 3px;
    margin-right: 5px;
}

.fhd>.tab_list>ul>li {
    float: left;
    position: relative;

}

.fhd>.tab_list>ul>li>a {
    padding: 0 20px;
}

.fhd>.tab_list>ul>li:not(:nth-last-child(1))::after {
    content: "";
    position: absolute;
    width: 0;
    top: 2px;
    height: 80%;
    border: 1px solid #e4e4e4;
}

.fhd>.tab_list>ul>li:nth-child(1) a {
    color: #c81623;
}

.floor_box>.fbd {
    height: 361px;
    width: 100%;
    background-color: pink;
}

.fbd>.tab_content {
    width: 100%;
    height: 100%;
}

.tab_content>.tab_list_item {
    width: 100%;
    height: 100%;
}

.tab_content>.tab_list_item>div {
    float: left;
    height: 100%;
}

.tab_list_item>.floor_210 {
    background-color: #f9f9f9;
    text-align: center;
}

.floor_210>ul {
    margin-left: 10px;
}

.floor_210>ul>li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 34px;
    margin-right: 10px;
}

.tab_list_item>.floor_329,
.tab_list_item>.floor_329 img {
    height: 100%;
    text-align: center;
}